<div class="container-slider">
    <div class="slider" id="slider">
        <div class="slider-section">
            <img src="../img/intel.jpg" alt="" class="slider-img">
        </div>
        <div class="slider-section">
            <img src="img/amd.jpg" alt="" class="slider-img">
        </div>
        <div class="slider-section">
            <img src="img/ati.jpg" alt="" class="slider-img">
        </div>
        <div class="slider-section">
            <img src="img/nvidia.jpg" alt="" class="slider-img">
        </div>
    </div>
    <div class="slider-btn slider-btn-right" id="btn-right"> < </div>
    <div class="slider-btn slider-btn-left" id="btn-left"> > </div>
</div>